/* Los accesos directos ayudan a simplificar Mi unidad … 
En las próximas semanas, los elementos que se encuentren en más de una carpeta se reemplazarán por accesos directos. El acceso a los archivos y las carpetas no cambiará.Más información */
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.separate-side-left {
    margin-left: 20px;
}

.lightgrey-text {
    color: lightgrey;
}

.wide-80 {
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    text-align: center;
    align-content: center;
}